spring:
  servlet:
    multipart:
      max-request-size: 50MB
      max-file-size: 20MB

server:
  tomcat:
    basedir: .
    uri-encoding: UTF-8
    accesslog:
      enabled: true
      directory: logs
      suffix: .log
      file-date-format: .yyyy-MM-dd
      pattern: "%{yyyy-MM-dd HH:mm:ss}t [%s] : \"%m %U\""
      max-days: 30